@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: "Cabin", sans-serif;
}
